services:
  mysql:
    image: mysql:8.0
    container_name: sv-mysql
    environment:
      MYSQL_ROOT_PASSWORD: suyuemoxue-mojianxue
      MYSQL_DATABASE: moxuevideo
      MYSQL_USER: moxue
      MYSQL_PASSWORD: suyuemoxue-mojianxue
      TZ: Asia/Shanghai
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: sv-redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: sv-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: apppass
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  mysql_data:
  redis_data:
  rabbitmq_data: